<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="f1.SweetShopTest1"/>
      <class name="f1.SweetShopTest2"/>
      <class name="f1.SweetShopTest3"/>
      <class name="f1.SweetShopTest4"/>
      <class name="f1.SweetShopTest5"/>
      <class name="f1.SweetShopTest6"/>
      <class name="f1.SweetShopTest7"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
